include ../mixins/social

.footer-copyright
    .container
        .fcopyright-container
            .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    p.copyright © 2007 - 2017 TOANTHANG - ALL RIGHTS RESERVED.
                .col-xs-12.col-sm-6.col-md-6.col-lg-6.text-right
                    ul.social.list-inline
                        +social('', 'fa fa-facebook-square', '#')
                        +social('', 'fa fa-instagram', '#')
                        +social('', 'fa fa-twitter-square', '#')
                        +social('', 'fa fa-youtube-play', '#')