//
// Layout :: Footer
// --------------------------------------------------
.footer {
    .title {
        font-weight: normal;
        margin-bottom: 10px;
    }
}

// Footer main
.footer-main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-menu {
    ul {
        li {
            line-height: 20px;
            margin-bottom: 10px;
        }
    }
}

.footer-logo {
    max-width: 70%;
    margin-bottom: 18px;
}

.footer-about {
    font-size: 16px;
    font-style: italic;

    strong {
        text-transform: uppercase;
    }
}

// Footer copyright
.footer-copyright {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 8px;
    background: $brand-primary;
    p {
        margin-bottom: 0;
    }

    .copyright {
        line-height: 20px;
    }
}

.social {
    li {
        a {
            font-size: 22px;
            color: #fff;
            line-height: 20px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}