//
// Layout :: Header
// --------------------------------------------------

// Header Top
.header-top {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  max-width: 234px;
}

.search-form {
  .input-group {
    min-width: 200px;
    .form-control,
    input {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .form-control {
    height: 25px;
    padding: 2px 10px;
    font-size: 13px;
    font-style: italic;
    color: #444;
    border: 1px solid #aaa;
  }

  .input-group-btn {
    display: none !important;
    position: absolute;
    z-index: 3;
    right: 0;
    display: inline-block;
    width: 40px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .btn,
    &:last-child > .btn,
    &:last-child > .btn-group {
      margin-left: 0;
      background: none !important;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

// Header Menu
.sticking {
  position: fixed;
  top: 0;
  *height: 70px;
  z-index: 1;
  z-index: 99999999;
  width: 100%;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header-menu {
  padding-bottom: 2px;    
}

.header-menu-fluid {
  width: 100%;
  border: 0;
  background: $brand-primary;
}

.title-menu {
  font-size: 16px;
  font-weight: bold;
}

p {
  &.a-menu {
    color: $brand-primary;
  }
}

.ulmenu {
  margin: 0 auto;
  position: relative;
}

.ulmenusub {
  li {
    width: 100%;
    margin-top: 15px;

    p {
      margin-top: 10px;
    }
  }
}

#main-menu {
  position: relative;
  > .ulmenu {

    > li {
      &.limenu {
        position: relative;
        display: inline-block;

        > a {
          position: relative;
          color: #fff;
          display: inline-block;
          padding: 10px 18px;
          font-size: 15px;
          text-transform: uppercase;
          text-align: center;

          &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: $brand-second;
            @include invisible(hidden);
            @include opacity(0);
            @include transition(0.5s all);
          }

          &:hover {
            color: #ffe76d;
          }
        }

        a {
          img {
            *max-height: 22px;
            *min-width: 30px;
            margin: auto;
          }
        }

        &.is-mega-menu {
          position: static !important;
        }

        &:last-child {
          a {
            border: 0;
            background: none;
          }
        }

        &:hover {
          a {
            &:after {
              @include invisible(visible);
              @include opacity(1);
            }
          }
        }
      }
    }   
  }

  .ulmenusub {
    position: absolute;
    float: left;
    left: 0;
    z-index: 99999999;
    top: calc(100% + 30px);
    padding-top: 2px;
    @include invisible(hidden);
    @include opacity(0);
    @include transition(0.5s all);
    &.drop-menu {
      padding-top: 2px;
    }
  }

  .ulmenusub.drop-menu .submenu-wrap,
  .submenu-wrap {
    padding: 20px;
    background: url(../images/bg_menu.png) repeat;
  }

  .ulmenusub.drop-menu {
    min-width: 220px;
  }

  li {
    &.limenu {
      &:hover {
        > .ulmenusub {
          top: 100%;
          @include invisible(visible);
          @include opacity(1);
        }
      }
    }
  }
}

// Header Mobile
.header-mobile {
  .navbar-toggle {
    .icon-bar {
      background-color: $brand-primary;
    }
  }   
}

.menuzord {
  overflow: visible!important;
  box-shadow: none;
  margin: 0;
  display: inline-block;
  width: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  float: left;

  .menuzord-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    li {

      a {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px 18px;
      }
    }

    @include respond-to('desktop-and-down') {
      li {

        a {
          font-size: 13px;
          padding: 10px 5px;
        }
      }
    }

    @include respond-to('tablet-and-down') {
      margin-top: 10px;
      display: block;
      background-color: $brand-primary;

      li {
        width: 100%;
        display: block;

        a {
          display: block;
          padding: 10px 15px;
          font-size: 15px;
          border-bottom: 0!important;
        }
      }
    }
  }
}

.megamenu {
  background-color: #ccc!important;
}

.menu-wrapper {
  background-color: $brand-primary;

  @include respond-to('tablet-and-down') {
    background-color: #fff;
  }
}

.megamenu {
  .contact-form {
    .btn {
      min-width: 120px;
      float: right;
    }
  }

  .heading.color {
    color: $brand-primary;
    text-transform: uppercase;
  }
}

.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a {
  border-color: $brand-second;
  color: #ffe76d;
}

.megamenu {
  a.box-img {
    display: block;
    padding: 0;

    img {
      margin: 0 auto;
    }
  }
}

.megamenu {

  .box {
    margin-bottom: 28px;
  }

  .title-new {
    text-transform: uppercase;
  }

  .item-new {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0!important;
    color: #333!important;

    .info {
      padding-left: 10px;
    }

    img {
      width: 100px;
    }

    &:hover {
      color: $brand-primary!important;
    }

    &.all {
      font-size: 16px;
      color: $brand-primary;
      line-height: 24px;
      justify-content: flex-end;

      i {
        font-size: 24px;
        margin-left: 10px;
      }
    }
  }

  @include respond-to('tablet-and-down') {
    max-height: 320px;
    overflow-y: auto;
  }
}

.menuzord-menu > li > .megamenu .megamenu-row.new {
  display: flex;
  justify-content: space-between;

  @include respond-to('tablet-and-down') {
    display: block;

    .col4 {
      display: inline-block;
      float: left;
      width: 100%!important;
      margin: 0!important;

      .item-new {
        width: 50%;
        display: inline-flex;
        float: left;
      }
    }
  }

  @include respond-to('phone-and-down') {
    display: block;

    .col4 {
      display: inline-block;
      float: left;
      width: 100%!important;
      margin: 0!important;

      .item-new {
        width: 100%;
        display: inline-flex;
        float: left;
      }
    }
  }
}

.menuzord-brand {
  margin: 0;
  padding: 0;

  img {
    width: 234px;
  }
}

.menuzord-responsive .menuzord-menu li .indicator {
  border-left: 0;
  color: #fff;
  display: none;

  @include respond-to('tablet-and-down') {
    display: inline-block;
    float: right;
  }
}

.menuzord i {
  font-family: FontAwesome!important;
}

.owl-product {

  .owl-stage-outer {
    width: calc(100% + 1px);  
  }
}

.owl-nav {
  display: block;
  width: 100%;
  text-align: right;

  .owl-next, .owl-prev {
    display: inline-block;
    color: $brand-primary;

    i {
      font-size: 24px;
      margin: 0 3px;
    }

    &:hover {
      color: $brand-second;
    }
  }
}

.megamenu.form-contact {
  @include respond-to('phone-and-down') {
    .two-col {
      width: 100%!important;
    }
  }
}