//
// Base :: Global
// --------------------------------------------------

body {
  // font-family: $font-family-primary;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.media {
  .media-left {
    img {
      min-width: 64px;
    }
  }
}

.news-block {
  .media {
    .media-left {
      a,
      img {
        width: 98px;
        display: inline-block;
      }

      img {
        border: 1px solid #ccc;
        padding: 3px;
      }
    }
  }
}

.relative {
  position: relative;
}