//
// Abstracts :: Typography
// --------------------------------------------------

span.text,
#main-menu .ulmenu > .limenu > .abmenu {
  font-family: "utmavo" !important;
}

a, h1, h2, h3, h4, h5, h6, p, span {
  font-family: Arial, sans-serif;
}

.title-one,
.title-one a,
.title-one span,
.title-one h2,
.title-one h3,
.title-one h4,
.title-one-full,
.title-one-full a,
.title-one-full span,
.title-one-full h2,
.title-one-full h3,
.title-one-full h4,
.title-two,
.title-two a,
.title-two span,
.title-two h2,
.title-two h3,
.title-two h4,
.megamenu .title-new,
.footer .title span {
  color: #000;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
  font-weight: normal;
}

.footer-copyright {
  font-family: Tahoma;
}

a {
  color: #000;
  &:hover {
    color: $brand-primary;
  }
}

.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
