//
// Abstracts :: Variables
// --------------------------------------------------

/// Paths
/// -------------------------------------------------
$path-image: '../images/';
$path-font: '../fonts/';


/// Colors
/// -------------------------------------------------
$white: #fff;
$black: #000;
$brand-primary: #0c8c46;
$brand-second: #dc6526;
$success: #468847;
$error: #d9534f;
$warning: #f0ad4e;
$link-blue: #0091ea;
$brand-info: #4bcbfa;


/// Typography
/// -------------------------------------------------
$font-family-primary: Arial, sans-serif;
$font-family-menu: 'UTM Avo', sans-serif;
$font-family-heading: 'UTM Bebas', sans-serif;


/// Transitions
/// -------------------------------------------------
$timing-function-ease-out-cubic: cubic-bezier(.215, .610, .355, 1);


/// Borders
/// -------------------------------------------------
$radius-lg: 10px;
$radius-sm: 3px;

/// Form
/// -------------------------------------------------
$input-border-color:#ccc;