include ../mixins/box-list

aside.sidebar.sidebar-shop.col-xs-12.col-sm-12.col-md-4
  .sidebar-inner
    .block.block-news
      h3.block-title.title-two
        span Chính sách bảo hành & lắp đặt
      .block-content
        +box-list('Chính sách bảo hành', '#', 'images/nw1.png')
        +box-list('Chính sách lắp đặt', '#', 'images/nw1.png')
        +box-list('Dây chuyền sản xuất', '#', 'images/nw1.png')
        +box-list('Văn phòng làm việc Toàn Thắng - không gian mở cho những sáng tạo và thành công.', '#', 'images/nw1.png')
    .block.block-news
      h3.block-title.title-two
        span Thông tin hữu ích
      .block-content
        +box-list('Lý do lựa chọn và giải pháp', '#', 'images/nw1.png')
        +box-list('So sánh bể nước bê tông với bồn nước công nghiệp Toàn Thắng', '#', 'images/nw1.png')
        +box-list('Tính tối ưu về dung tích chứa nước', '#', 'images/nw1.png')
        +box-list('Hỏi - đáp những vấn đề về giải pháp chứa nước cho các công trình .', '#', 'images/nw1.png')
    .block.block-news
      h3.block-title.title-two
        span Dự án
      .block-content
        +box-list('Toàn cảnh dây chuyền sản xuất tấm Panel cho bồn Inox công nghiệp dung tích lớn.', '#', 'images/nw1.png')
        +box-list('Kết nối đồng đội - Kỳ nghỉ hè gắn kết thành công của Toàn Thắng tại Cửa Lò - Nghệ An.', '#', 'images/nw1.png')
        +box-list('Lễ ra mắt sản phẩm chậu rửa Inox liền khối tại Tòa nhà số 8 Quan Trung, Hà Đông', '#', 'images/nw1.png')
        +box-list('Văn phòng làm việc Toàn Thắng - không gian mở cho những sáng tạo và thành công.', '#', 'images/nw1.png')