.row
  .col-md-12
    .el-slideshow.slider-main#js-slider-main
      .item
        img(src='images/slide.png')
      .item
        img(src='images/slide.png')
      .item
        img(src='images/slide.png')
      .item
        img(src='images/slide.png')