//
// Pages :: Home
// --------------------------------------------------
#home-slideshow {
    margin-top: 4px;
}

#home-intro {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
}