//
// Components :: Forms
// --------------------------------------------------
.form-group {
	.form-control {
		height: 40px;
		border-radius: 0;
		border-color: $brand-primary;
		outline: none;
	}

	textarea.form-control {
		min-height: 120px;
	}
}

.form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $brand-primary;
}
.form-group .form-control::-moz-placeholder { /* Firefox 19+ */
  color: $brand-primary;
}
.form-group .form-control:-ms-input-placeholder { /* IE 10+ */
  color: $brand-primary;
}
.form-group .form-control:-moz-placeholder { /* Firefox 18- */
  color: $brand-primary;
}