//
// Components :: UI Elements
// --------------------------------------------------

// Title - Style 1
.title-one,
.title-one h2,
.title-one-full,
.title-one-full h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.title-one,
.title-one-full {
  padding-left: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title-one {
  background: url(../images/bg_title.png) left bottom no-repeat;
}

.title-one-full {
  background: url(../images/bg_title_full.png) left bottom no-repeat;
}

// Title - Style 2
.title-two {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dc6526;
}

// Box
.box {
  padding: 10px;
  border: 1px solid #dc6526;

  .box-title {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: $brand-primary;

    a {
      color: $brand-primary;
    }
  }
}