//
// Components :: UI Elements
// --------------------------------------------------

// Box
.box {
    padding: 10px;
    border: 1px solid #dc6526;

    .box-title {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        color: $brand-primary;

        a {
            color: $brand-primary;
        }
    }
}