#header-top.header-top.clearfix.hidden-xs.hidden-sm
  .container
    .row
      .col-sm-6.col-md-4
        .logo.logo-home.text-center
          a(href='/' target='_self' title='')
            img.img-responsive(src="images/logo.png" alt="")
      .col-sm-6.col-md-8
        .header-static.float-right
          img.lang-img(src="images/uk.png" alt="")
          // Search form
          form.search-form( name="search-form" action='/san-pham/tags/' method='POST')
            .input-group
              input#tag.form-control(type='text', placeholder='Tìm kiếm ...' name='tag')
              span.input-group-btn
                button.btn.btn-search(type='submit')
                  i.fa.fa-search