#header-mobile.header-mobile.clearfix.hidden-md.hidden-lg
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type="button" aria-controls="bs-navbar" aria-expanded="false" data-target="#bs-navbar" data-toggle="collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .logo.logo-home.float-left
                a(href='#' target='_self' title='')
                    img.img-responsive(src="images/logo.png" alt="")
        nav#bs-navbar.navbar-collapse.collapse
            include main-menu


