include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/mixins/box-list
include modules/mixins/shop-box
include modules/mixins/pagination

doctype html
html
  +head(head.san_pham)

  body.category-page
    +header('category')
    .main-container
      +category-featured-image('images/banner-category-bon-nhua.png')
      .category-container.mb-30.clearfix
        .container
          .row
            .col-sm-12.col-md-12.col-lg-12
              h2.page-title.title-one-full
                span Bồn nhựa cao cấp
            .products
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-1.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-2.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-1.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-1.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-2.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-1.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-1.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-2.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
              +product-box('Bồn nhựa CC T7541', 'product-bon-nhua-cao-cap.html', 'images/category-product-bnhua-1.jpg', 'KT. chậu: 1050 x 450 x 235 mm', 'KT. hố chậu: 1030 x 430 mm')
      .shop-pagination
        .container
          +pagination()

    +footer()

    script(type='text/javascript', src='js/main.js')

    include modules/head/script
    // include modules/head/analytics