include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/mixins/box-list
include modules/mixins/shop-box

doctype html
html
  +head(head.gioi_thieu)

  body
    +header('gioi-thieu')
    .main-container
      section#home-slideshow.home-slideshow.clearfix
        .container
          include modules/elements/el-slideshow
      section#home-intro.home-intro.clearfix
        .container
          .row
            .col-sm-12.col-md-12.col-lg-12
              p Trải qua 15 năm đổi mới và phát triển, cùng với định hướng của BLĐ và sự nỗ lực không ngừng của CBCNV, Công ty Cổ phần TOÀN THẮNG hiện đang khẳng định vị thế là Nhà sản xuất các sản phẩm Inox dân dụng và công nghiệp hàng đầu Việt Nam và Châu Á. Rất nhiều sản phẩm mang thương hiệu TOÀN THẮNG đã khẳng định chất lượng không chỉ tại thị trường Việt Nam mà còn tại rất nhiều quốc gia trên thế giới
      section#home-categories.home-categories.mb-30.clearfix
        .container
          .row
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Sản phẩm nổi bật', 'category.html', 'images/category-may-nang-luong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bồn nước Inox', 'category.html', 'images/category-bon-nuoc-inox.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Chậu rửa Inox', 'category.html', 'images/category-chau-rua-inox.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bồn nhựa cao cấp', 'category.html', 'images/category-bon-nhua-cao-cap.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Máy lọc nước', 'category.html', 'images/category-may-loc-nuoc.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bình nước nóng', 'category.html', 'images/category-binh-nuoc-nong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Máy năng lượng', 'category.html', 'images/category-may-nang-luong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bình nước nóng', 'category.html', 'images/category-binh-nuoc-nong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bình nước nóng', 'category.html', 'images/category-binh-nuoc-nong.png', '', '', false)
      section#home-news.home-news.mb-30.clearfix
        .container
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-4.mb-20
              .title-one
                h2 Tin tức & sự kiện
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', '#', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              .news-links.list-links
                a(href='#' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
                a(href='#' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
                a(href='#' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
                a(href='#' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
                a(href='#' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
                a(href='#' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
            .col-xs-12.col-sm-6.col-md-6.col-lg-4.mb-20
              .title-one
                h2 Công nghệ & Dự án
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', '#', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', '#', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', '#', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
            .col-xs-12.col-sm-12.col-md-12.col-lg-4.mb-20
              .title-one
                h2 Công nghệ & Dự án
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', '#', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', '#', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', '#', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')

    +footer()

    script(type='text/javascript', src='js/main.js')

    // include modules/head/analytics
