include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/mixins/box-list
include modules/mixins/shop-box

doctype html
html
  +head(head.trang_chu)

  body
    +header('trang-chu', true)
    .main-container
      section#home-slideshow.home-slideshow.clearfix
        .container
          include modules/elements/el-slideshow
      section#home-intro.home-intro.clearfix
        .container
          .row
            .col-sm-12.col-md-12.col-lg-12
              p Trải qua 15 năm hình thành và phát triển, với sự hỗ trợ tích cực từ quý đối tác và sự tin tưởng, ủng hộ của Quý khách hàng, Công ty Cổ phần Toàn Thắng hôm nay tự hào với diện mạo của một thương hiệu dẫn đầu trong ngành sản xuất inox dân dụng và công nghiệp, khẳng định uy tín trên thị trường trong nước và quốc tế, hoạt động hiệu quả, bền vững và có trách nhiệm với cộng đồng.
              p Với tầm nhìn trở thành tập đoàn sản xuất các sản phẩm công nghiệp và gia dụng hàng đầu Việt Nam, Công ty Cổ phần Toàn Thắng không ngừng sáng tạo, cải tiến và đổi mới để nâng cao chất lượng sản phẩm và dịch vụ. Chúng tôi cam kết sẽ mang tới cho quý khách hàng và đối tác những giá trị tốt nhất, hướng tới sự phát triển bền vững để Toàn Thắng mãi là một thương hiệu của chất lượng và niềm tin!
      section#home-categories.home-categories.mb-30.clearfix
        .container
          .row
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Sản phẩm nổi bật', 'category-bon-cong-nghiep.html', 'images/category-may-nang-luong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bồn nước Inox', 'category-bon-nuoc-inox.html', 'images/category-bon-nuoc-inox.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Chậu rửa Inox', 'category.html', 'images/category-chau-rua-inox.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bồn nhựa cao cấp', 'category-bon-nhua-cao-cap.html', 'images/category-bon-nhua-cao-cap.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Máy lọc nước', 'category.html', 'images/category-may-loc-nuoc.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bình nước nóng', 'category.html', 'images/category-binh-nuoc-nong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Máy năng lượng', 'category.html', 'images/category-may-nang-luong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bình nước nóng', 'category.html', 'images/category-binh-nuoc-nong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('Bình nước nóng', 'category.html', 'images/category-binh-nuoc-nong.png', '', '', false)
      section#home-news.home-news.mb-30.clearfix
        .container
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-4.mb-20
              .title-one
                h2 Tin tức & sự kiện
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', 'single.html', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              .news-links.list-links
                a(href='single.html' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
                a(href='single.html' target='_blank' title='') Lễ ra mắt giới thiệu sản phẩm chậu rửa Toàn Thắng với công nghệ sản xuất hiện đại.
                a(href='single.html' target='_blank' title='') Diễn tập PCCC & CHCN tại nhà máy Toàn Thắng tháng 9 năm 2017
                a(href='single.html' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
                a(href='single.html' target='_blank' title='') Đẩy mạnh chất lượng cán bộ công nhân viên, nâng cao năng lực sản xuất tại Toàn Thắng.
                a(href='single.html' target='_blank' title='') Nhu cầu xây dựng phục hồi, ngành thép trong nước có dấu hiệu khởi sắc.
            .col-xs-12.col-sm-6.col-md-6.col-lg-4.mb-20
              .title-one
                h2 Công nghệ & Dự án
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', 'single.html', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', 'single.html', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', 'single.html', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
            .col-xs-12.col-sm-12.col-md-12.col-lg-4.mb-20
              .title-one
                h2 Công nghệ & Dự án
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', 'single.html', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', 'single.html', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
              +box-list('Toàn Thắng ra mắt dòng sản phẩm Chậu rửa Inox cao cấp', 'single.html', 'images/nw1.png', 'news-block mb-15', 'Sáng ngày 14/07/2017, tại Hà Nội, công ty cổ phần Toàn Thắng đã tổ chức thành công Lễ ra mắt dòng sản phẩm Chậu rửa Inox cao cấp Toàn Thắng.')
      section#home-client-say.home-client-say.mb-30.clearfix
        .container
          .title-one-full
            h2 Khách hàng nói gì về chúng tôi
          .row
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('', '#', 'images/category-may-nang-luong.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('', '#', 'images/category-bon-nuoc-inox.png', '', '', false)
            .xs-full.col-xs-6.col-sm-6.col-md-6.col-lg-4.mb-30
              +category-box('', '#', 'images/category-chau-rua-inox.png', '', '', false)

    +footer()

    script(type='text/javascript', src='js/main.js')

    include modules/head/script
    // include modules/head/analytics
