include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/mixins/shop-box

doctype html
html
  +head(head.san_pham)

  body.single-product
    +header()

    .main-container
      .featured-image.clearfix
        .container
          +category-featured-image('images/1920x400.png')
      .page-title-block.clearfix
        .container
          .row
            .col-sm-12.col-md-12.col-lg-12
              h2.page-title.title-one-full
                span Category Name
      .container
        .single-product-container
          .row
            .col-xs-12.col-sm-12.col-md-8
              .product-single-top
                .product-gallery
                  .product-photo
                    .item
                      img(src="images/product-01.jpg" alt="image")
                    .item
                      img(src="images/product-02.jpg" alt="image")
                    .item
                      img(src="images/product-03.jpg" alt="image")
                    .item
                      img(src="images/product-01.jpg" alt="image")
                    .item
                      img(src="images/product-05.jpg" alt="image")
                    .item
                      img(src="images/product-03.jpg" alt="image")
                    .item
                      img(src="images/product-02.jpg" alt="image")
                  .product-thumbs
                    .item
                      img(src="images/product-thumb-01.jpg" alt="image")
                    .item
                      img(src="images/product-thumb-02.jpg" alt="image")
                    .item
                      img(src="images/product-thumb-03.jpg" alt="image")
                    .item
                      img(src="images/product-thumb-01.jpg" alt="image")
                    .item
                      img(src="images/product-thumb-05.jpg" alt="image")
                    .item
                      img(src="images/product-thumb-03.jpg" alt="image")
                    .item
                      img(src="images/product-thumb-02.jpg" alt="image")
              .product-single-tabs
                ul.nav.nav-tabs(role="tablist")
                  li.active(role="presentation")
                    a(href="#product-info" aria-controls="product-info" role="tab" data-toggle="tab" aria-expanded="false") Thông số kỹ thuật
                  li(role="presentation")
                    a(href="#setup-formality" aria-controls="setup-formality" role="tab" data-toggle="tab" aria-expanded="true") Các hình thức lắp đặt  
                  li(role="presentation")
                    a(href="#setup-step" aria-controls="setup-step" role="tab" data-toggle="tab" aria-expanded="false") Các bước lắp đặt
                  li(role="presentation")
                    a(href="#product-process" aria-controls="product-process" role="tab" data-toggle="tab" aria-expanded="false") Dây chuyền sản xuất
                .tab-content
                  #product-info.tab-pane.active(role="tabpanel")
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  #setup-formality.tab-pane(role="tabpanel")
                    p Noi dung - Cac hinh thuc lap dat.
                  #setup-step.tab-pane(role="tabpanel")
                    p Noi dung - Cac buoc lap dat.
                  #product-process.tab-pane(role="tabpanel")
                    p Noi dung - Day chuyen san xuat.

                .fb-comments(data-href="https://nguyenduytu3i.github.io/" data-width="100%" data-numposts="5")

            include modules/sidebar/sidebar-shop

    +footer()

    script(type='text/javascript', src='js/main.js')

    include modules/head/script
    // include modules/head/analytics
